doctype html
html
    head
        title Wiki

        link(rel='stylesheet' href='/libs/skeleton/css/skeleton.css')
        link(rel='stylesheet' href='/style.css')
    body
        #app.container

        script.
            USER = "#{user}";

        script(src='/all.js')